body{
    background-color: rgb(13, 118, 189);
}


.jolie
{
    height: 750px ;
    width: 550px;
    background-image: url(photo\ top.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.element {
    color: rgba(214, 14, 204, 0.781);
    font-size: 20px;
    
    width: 200px;
    height: 400px;
    margin-right: 50px;
    margin-top: 150px;
    
}

.element h3
{
    margin-bottom: 70px;

}
.images
{
    margin-left: 10px;
    text-align: center;
    color: white;
    
}

.images img
{
    height: 400px;
    width: 450px;
    margin: 10px;
    border-radius: 15% 1%;
}

button
{
    width: 120px;
    height: 50px;
    background-color: rgba(16, 31, 170, 0.644);
    color: ghostwhite;
    border-radius: 20%;
    font-size: 20px;
    margin-top: 30px;

}
.nav
{
    display: flex;
    justify-content: space-around;
    background-color: rgba(201, 241, 241, 0.411);

}
.nav figcaption{
    color: rgb(233, 241, 238);
    padding-left: -15px;
}
.nav figure
{
    font-size: 20px;
}
.cote button
{
    
    width: 200px;
    height: 70px;
    border-radius: 5% 5%;
}


.cote a{
   color: white;
    text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   display: inline-block;
   padding: auto;
   width: 200px;
   border-radius: 5% 5%;
   text-align: center;
   padding: 1px 7px 2px ;
   
}
footer
{
    position: fixed;
    bottom: 0;
    padding: 15px;
    background-color: rgb(4, 25, 44);
    width: 100%;
    color: white;

}
footer a{
    color: violet;
}

.centre 
{
  display: flex;
  margin-bottom: 50px;
}
.images h3{
    background-color: rgba(6, 70, 143, 0.562);
    position: relative;
    top: 100px;
    display: block;
    width: 440px;
    margin-left: 20px;
    border-radius: 40%;
}
.fin
{
    display: flex;
    flex-wrap: wrap;
    
}

@media screen and (max-width:1700px)
{
   
.page 
{
    margin: auto;
    max-width: 1000px;
}
.images img
{
    height: 300px;
    width: 350px;
    margin: 10px;
    
}

.images h3{
    position: relative;
    top: 0px;
    
    
}
}
@media screen and (max-width:1024px)
{
    .jolie
{
    height: 500px ;
    width: 100%;
    background-size: 100% 100%;
    display: flex;
}
.centre{
    flex-direction: column;
}

button
{
    width: 70px;
    height: 30px; 
    font-size: small;
}
.cote button
{
    width: 130px;
    height: 50px;
    font-size: small;
}
.cote a
{
    width: 60px;
}
.element {
   
    font-size: 14px;
    margin-top: 300px;
    width: 70px;
    height: 400px;
       
}

.element h3
{
    margin-bottom: 30px;

}
}